extends layout

block content
  div.container
    h1= title
    p Welcome to #{title}
    div.row
      div.col-md-8
        span.client-count
        |  users connected
        div.chatroom
        form(role='form', name='chat-form')
          input.form-control(type='input', name='msg', placeholder='Type your message')
          div.col-md-2.pull-right
            button.form-control(type='submit') Send
  
  script(src='http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js', data-main='js/main')